[Unit]
Description=Runs the RAK2245 LoRa shield (SX1301) and serves
After=basic.target
Wants=

[Service]
Restart=always
Type=simple
ExecStart=/usr/bin/rak2245_setup.sh

[Install]
WantedBy=multi-user.target
