[Unit]
Description=Runs the RAK2245 LoRa shield (SX1301) and serves
After=basic.target

[Service]
Type=simple
Restart=always
ExecStartPre=/opt/lora_basestation/rak2245_setup.sh
ExecStartPre=/usr/bin/sleep 10
ExecStart=/opt/lora_basestation/util_pkt_server /opt/lora_basestation/global_conf.json

[Install]
WantedBy=multi-user.target
